---

---

<section id="sobremi" class="w-full lg:max-w-4xl md:max-w-2xl mt-20 lg:mt-30">
    <h3 class="text-3xl font-bold mb-6 flex items-center gap-3">
        <svg
            class="size-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-user"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
                d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg
        >
        Sobre mí
    </h3>
    <article class="space-y-8">
        <div
            class="bg-neutral-800 border border-neutral-700 rounded-xl p-6 shadow-lg text-md text-zinc-200 space-y-4"
        >
            <p>
                Soy Miguel González García, desarrollador web apasionado por la
                tecnología. Desde pequeño he sido un enamorado de los ordenadores,
                recuerdo sentarme junto a mi padre y verlo usar el PC durante
                horas. Con el tiempo, finalmente he conseguido dedicarme
                profesionalmente a lo que siempre ha sido mi hobby.
            </p>
            <p>
                Como profesional, he asesorado a diversos clientes en la
                optimización de sus procesos de negocio mediante soluciones ERP
                y CRM personalizadas. También me encargo del mantenimiento y
                soporte técnico de aplicaciones existentes, garantizando su
                correcto funcionamiento y evolución. Junto con mi equipo, he
                desarrollado plataformas SaaS que aportan valor real.
            </p>
            <p>
                Me considero una persona comprometida, resolutiva y proactiva.
                Disfruto trabajando en equipo y colaborando con mis compañeros
                para alcanzar los objetivos comunes. Mi meta es formar parte de
                un entorno profesional donde pueda aportar valor con mis
                conocimientos, afrontar nuevos desafíos y seguir desarrollándome
                tanto a nivel personal como profesionalmente.
            </p>
        </div>
    </article>
</section>
