<section
    id="experiencia"
    class="w-full lg:max-w-4xl md:max-w-2xl mt-20 lg:mt-60"
>
    <h3 class="text-3xl font-bold mb-6 flex items-center gap-3">
        <svg
            class="size-8"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
            ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"
            ></path><path d="M12 12l0 .01"></path><path
                d="M3 13a20 20 0 0 0 18 0"></path></svg
        >
        Experiencia laboral
    </h3>
    <article class="space-y-8">
        <div
            class="bg-neutral-800 border border-neutral-700 rounded-xl p-6 shadow-lg"
        >
            <div class="flex justify-between flex-wrap gap-1">
                <div class="flex flex-col gap-1">
                    <h4
                        class="text-xl font-semibold bg-gradient-to-r from-cyan-300 to-blue-500 bg-clip-text text-transparent"
                    >
                        Desarrollador Full Stack
                    </h4>
                    <h4 class="text-lg font-semibold">Cinde</h4>
                </div>
                <span class="text-sm text-zinc-300 italic"
                    >Marzo 2023 - Actualidad</span
                >
            </div>
            <ul class="p-4 text-zinc-200 list-disc text-md leading-relaxed">
                <li>
                    Diseño y desarollo de aplicaciones web adaptadas a las
                    necesidades del cliente.
                </li>
                <li>
                    Mantenimiento y soporte técnico de sotfware ya existente.
                </li>
                <li>
                    Consultor TIC: asesoramiento continuo a clientes en la
                    optimización de sus procesos de negocio mediante soluciones
                    ERP y CRM personalizadas.
                </li>
                <li>
                    He detectado y corregido diferentes vulnerabilidades en el
                    código de los proyectos en los que participo, como por
                    ejemplo: XSS, subida de ficheros maliciosos, cookies
                    inseguras, ataques de fuerza bruta, etc.
                </li>
            </ul>
        </div>
    </article>
</section>
