<header class="sticky top-4 z-20 mx-auto max-w-6xl rounded-full bg-white/5 border border-white/10 backdrop-blur-lg bg-opacity-60 px-4 sm:px-8 md:px-10 py-2 md:py-3 text-zinc-100">
  <nav class="space-x-2 sm:space-x-4 md:space-x-8 text-sm md:text-md font-medium flex">
    <a href="#experiencia" class="hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:bg-clip-text hover:text-transparent ">Experiencia</a>
    <a href="#proyectos" class="hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:bg-clip-text hover:text-transparent">Proyectos</a>
    <a href="#sobremi" class="hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:bg-clip-text hover:text-transparent">Sobre mí</a>
    <a href="#contacto" class="hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:bg-clip-text hover:text-transparent">Contacto</a>
  </nav>
</header>
