---
import UrlImage from "../components/UrlImage.astro";
import IconLink from "../components/icons/IconLink.astro";
import IconGithub from "../components/icons/IconGithub.astro";
import IconReact from "../components/icons/IconReact.astro";
import IconTypescript from "../components/icons/IconTypescript.astro";
import IconSupabase from "../components/icons/IconSupabase.astro";
import IconTailwind from "../components/icons/IconTailwind.astro";
import IconSpring from "./icons/IconSpring.astro";
import IconJava from "./icons/IconJava.astro";
import IconPostgreesql from "./icons/IconPostgreesql.astro";
---

<section id="proyectos" class="w-full lg:max-w-4xl md:max-w-2xl mt-20 lg:mt-30">
    <h3 class="text-3xl font-bold mb-6 flex items-center gap-3">
        <svg
            class="size-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-code"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
                d="M14 4l-4 16"></path>
        </svg>
        Proyectos
    </h3>
    <article class="space-y-8">
        <div
            class="grid grid-cols-1 md:grid-cols-2 bg-neutral-800 border border-neutral-700 rounded-2xl shadow-lg overflow-hidden group"
        >
            <div class="relative w-full h-full min-h-[200px] md:min-h-[300px]">
                <UrlImage
                    src="/img/snaplinks.webp"
                    alt="Imagen del proyecto SnapLinks"
                    className="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-103"
                />
            </div>
            <div class="p-6 md:p-8 flex flex-col gap-4 text-zinc-100">
                <h4
                    class="text-2xl font-bold bg-gradient-to-r from-cyan-300 via-blue-500 to-cyan-300 bg-clip-text text-transparent"
                >
                    SnapLinks
                </h4>
                <div class="flex flex-wrap gap-4">
                    <IconJava width="24" height="24" />
                    <IconSpring width="24" height="24" />
                    <IconPostgreesql width="24" height="24" />
                    <IconReact width="24" height="24" />
                    <IconTypescript width="24" height="24" />
                    <IconTailwind width="24" height="24" />
                </div>
                <p class="text-zinc-200 text-md leading-relaxed">
                    SnapLinks es un acortador de URLs. Permite a los usuarios
                    crear URLs cortas, redirigirlas, generar códigos QR y
                    consultar estadísticas como los accesos, geolocalización, dispositivos, etc.
                </p>
                <div class="flex gap-4 mt-auto text-sm">
                    <a
                        href="https://snaplinks.miguelgonzalezdev.es/"
                        target="_blank"
                        class="px-3 md:px-4 py-2 font-semibold border border-zinc-100 rounded-full inline-flex items-center justify-center gap-2 transition-all duration-300 ease-out hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:text-neutral-900 hover:border-transparent hover:shadow-lg hover:scale-103 hover:shadow-cyan-500/30"
                    >
                        <IconLink className="size-4" />
                        Ver proyecto
                    </a>
                    <a
                        href="https://github.com/miguelgonzalezzdev/snaplinks"
                        target="_blank"
                        class="px-3 md:px-4 py-2 font-semibold border border-zinc-100 rounded-full inline-flex items-center justify-center gap-2 transition-all duration-300 ease-out hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:text-neutral-900 hover:border-transparent hover:shadow-lg hover:scale-103 hover:shadow-cyan-500/30"
                    >
                        <IconGithub className="size-4" />
                        Código
                    </a>
                </div>
            </div>
        </div>
        <div
            class="grid grid-cols-1 md:grid-cols-2 bg-neutral-800 border border-neutral-700 rounded-2xl shadow-lg overflow-hidden group"
        >
            <div class="relative w-full h-full min-h-[200px] md:min-h-[300px]">
                <UrlImage
                    src="/img/biblioclase.webp"
                    alt="Imagen del proyecto Biblioclase"
                    className="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-103"
                />
            </div>
            <div class="p-6 md:p-8 flex flex-col gap-4 text-zinc-100">
                <h4
                    class="text-2xl font-bold bg-gradient-to-r from-cyan-300 via-blue-500 to-cyan-300 bg-clip-text text-transparent"
                >
                    Biblioclase
                </h4>
                <div class="flex flex-wrap gap-4">
                    <IconReact width="24" height="24" />
                    <IconTypescript width="24" height="24" />
                    <IconSupabase width="24" height="24" />
                    <IconTailwind width="24" height="24" />
                </div>
                <p class="text-zinc-200 text-md leading-relaxed">
                    Biblioclase es una aplicación diseñada para fomentar el
                    hábito de la lectura en los niños. Les permite descubrir
                    libros según sus géneros literarios favoritos, publicar
                    reseñas, interactuar con sus amigos y mucho más, en un
                    entorno seguro y amigable.
                </p>
                <div class="flex gap-4 mt-auto text-sm">
                    <a
                        href="https://biblioclase.netlify.app/"
                        target="_blank"
                        class="px-3 md:px-4 py-2 font-semibold border border-zinc-100 rounded-full inline-flex items-center justify-center gap-2 transition-all duration-300 ease-out hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:text-neutral-900 hover:border-transparent hover:shadow-lg hover:scale-103 hover:shadow-cyan-500/30"
                    >
                        <IconLink className="size-4" />
                        Ver proyecto
                    </a>
                    <a
                        href="https://github.com/miguelgonzalezzdev/book-rating-app"
                        target="_blank"
                        class="px-3 md:px-4 py-2 font-semibold border border-zinc-100 rounded-full inline-flex items-center justify-center gap-2 transition-all duration-300 ease-out hover:bg-gradient-to-r hover:from-cyan-300 hover:to-blue-500 hover:text-neutral-900 hover:border-transparent hover:shadow-lg hover:scale-103 hover:shadow-cyan-500/30"
                    >
                        <IconGithub className="size-4" />
                        Código
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>
